.ChatWidget {
    position: fixed;
    display: flex;
    bottom: 2rem;
    right: 2rem;
    z-index: 20;
    padding: 1rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    cursor: pointer;

    .counter {
        background: red;
        color: white;
        position: absolute;
        top: -0.5rem;
        left: -.5rem;
        width: 1.5rem;
        text-align: center;
        border-radius: 50%;
    }
}